<h1>Data Science Tools and Ecosystem</h1>

This notebook is all about the Data Science tools and Ecosystem.

<h4>Objectives:</h4>

* List popular languages for Data Scientists
* Commonly used libraries by Data Scientists
* Open-source Tools used by Data Scientists
* Basic Arithmetic operations

some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries by Data Scientists include:
1. Pandas
2. Scikit-learn
3. seaborn
4. Numpy
5. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Github|
|Rstudio|

<h3>Below are a few examples of evaluating arithmetic expressions in python</h3>

In [1]:
a = 18
b = 7

In [2]:
print(a+b)

25

In [3]:
print(a-b)

11

In [4]:
print(a*b)

126

In [5]:
print(a/b)

2.5714285714285716

In [6]:
print(a//b)

2

This is a simple arithmetic expression to multiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes into hours by dividing by 60

In [8]:
a = 200
print("In hours : ", a/60)

In hours :  3.3333333333333335

<h2>Author</h2>
Mani Prasad Reddy